*{
    margin:0;
    padding:0;
    background-color:rgb(204, 223, 219);
    
}

.body{
    border:20px solid rgb(145, 188, 188);

}

h1{
    text-shadow: 10px 10px 20px white; 
    color:brown;
    
}

.heading{
    align-items: center;
    text-align: center;
}
.main-content h3{
     margin-left:110px;
     color:brown;
}

img{
    width: 800px;
    height:500px;
    margin-top: 20px;
    border: 10px solid rgba(88, 184, 174, 0.658);
}

.main-content{
   align-items: center;
   margin-top:10px;
   line-height: 32px;
   font-size: larger;

}
.key-points{
    padding-top:20px;
    width:800px;
    height:500px;
}

@media screen and (min-width: 768px) {
    .body {
        border: 2vw solid rgb(145, 188, 188);
    }

    img {
        width: 80%;
        max-width: 800px;
        height: auto;
        margin-top: 2vw;
        border: 1vw solid  rgba(88, 184, 174, 0.658);
    }

    .main-content {
        margin-left:23vw;
        margin-top: 2vw;
        line-height: 2;
        font-size: 1.2rem;
    }
}

